@model ClinicaPetHeroWeb.Data.Entities.Animal

@{
    ViewData["Title"] = "Delete";
}

<div class="pagetitle">
    <h1>Animals</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="ControlPanel">Home</a></li>
            <li class="breadcrumb-item">Clients</li>
            <li class="breadcrumb-item">Animals</li>
            <li class="breadcrumb-item active">Delete</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Delete</h5>
                    <dl class="row">
                        <dt class="col-lg-3 col-md-4 label">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-lg-9 col-md-8">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-lg-3 col-md-4 label">
                            @Html.DisplayNameFor(model => model.Age)
                        </dt>
                        <dd class="col-lg-9 col-md-8">
                            @Html.DisplayFor(model => model.Age)
                        </dd>
                        <dt class="col-lg-3 col-md-4 label">
                            @Html.DisplayNameFor(model => model.Weight)
                        </dt>
                        <dd class="col-lg-9 col-md-8">
                            @Html.DisplayFor(model => model.Weight) Kg
                        </dd>
                        <dt class="col-lg-3 col-md-4 label">
                            @Html.DisplayNameFor(model => model.Sex)
                        </dt>
                        <dd class="col-lg-9 col-md-8">
                            @Html.DisplayFor(model => model.Sex)
                        </dd>
                        <dt class="col-lg-3 col-md-4 label">
                            @Html.DisplayNameFor(model => model.Species)
                        </dt>
                        <dd class="col-lg-9 col-md-8">
                            @Html.DisplayFor(model => model.Species)
                        </dd>
                        <dt class="col-lg-3 col-md-4 label">
                            @Html.DisplayNameFor(model => model.IsNeutered)
                        </dt>
                        <dd class="col-lg-9 col-md-8">
                            @Html.DisplayFor(model => model.IsNeutered)
                        </dd>
                    </dl>

                    <form class="text-center" asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>